<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:app="http://schemas.android.com/apk/res-auto"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.majazeh.risloo">

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:name=".Entities.App"
        android:allowBackup="false"
        android:extractNativeLibs="false"
        android:fullBackupContent="false"
        android:icon="@mipmap/ic_logo"
        android:label="@string/AppName"
        android:largeHeap="true"
        android:launchMode="singleTop"
        android:networkSecurityConfig="@xml/network_security_config"
        android:requestLegacyExternalStorage="true"
        android:roundIcon="@mipmap/ic_logo_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:windowSoftInputMode="adjustResize"
        tools:ignore="UnusedAttribute"
        tools:replace="android:label">

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="com.majazeh.risloo.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>

        <activity
            android:name=".Views.Activities.SplashActivity"
            android:theme="@style/LauncherTheme"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Views.Activities.IntroActivity"
            android:theme="@style/WindowTheme"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Views.Activities.AuthActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Views.Activities.AccountActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Views.Activities.AttachmentActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Views.Activities.ArchiveActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Views.Activities.ImageActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Views.Activities.OutroActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Views.Activities.SampleActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Views.Activities.SamplesActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Views.Activities.ScalesActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Views.Activities.CentersActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Views.Activities.SessionsActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Views.Activities.RoomsActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Views.Activities.CasesActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Views.Activities.DetailSampleActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Views.Activities.DetailCaseActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Views.Activities.CreateSampleActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Views.Activities.CreateCenterActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Views.Activities.CreateSessionActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Views.Activities.CreateCaseActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Views.Activities.EditAccountActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Views.Activities.EditCenterActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Views.Activities.EditSessionActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Views.Activities.EditCaseActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Views.Activities.SettingActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Views.Activities.AboutUsActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Views.Activities.QuestionActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Views.Activities.CallUsActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Views.Activities.TermConditionActivity"
            android:screenOrientation="portrait" />
    </application>

</manifest>