<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.majazeh.risloo">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:name=".Utils.CustomApp"
        android:fullBackupContent="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/AppName"
        android:largeHeap="true"
        android:launchMode="singleTop"
        android:networkSecurityConfig="@xml/network_security_config"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="UnusedAttribute"
        android:requestLegacyExternalStorage="true">

        <activity android:name=".Views.Activities.SplashActivity" android:theme="@style/LauncherTheme" android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Views.Activities.IntroActivity" android:theme="@style/WindowTheme" android:screenOrientation="portrait" />
        <activity android:name=".Views.Activities.AuthActivity" android:screenOrientation="portrait" />
        <activity android:name=".Views.Activities.PrerequisiteActivity" android:screenOrientation="portrait" />
        <activity android:name=".Views.Activities.SampleActivity" android:screenOrientation="portrait" />
        <activity android:name=".Views.Activities.OutroActivity" android:screenOrientation="portrait" />
        <activity android:name=".Views.Activities.AccountActivity" android:theme="@style/WindowTheme" android:screenOrientation="portrait" />
        <activity android:name=".Views.Activities.ArchiveActivity" android:screenOrientation="portrait" />
        <activity android:name=".Views.Activities.MoreActivity" android:screenOrientation="portrait" />
        <activity android:name=".Views.Activities.AboutUsActivity" android:screenOrientation="portrait" />
        <activity android:name=".Views.Activities.QuestionActivity" android:screenOrientation="portrait" />
        <activity android:name=".Views.Activities.CallUsActivity" android:screenOrientation="portrait" />
        <activity android:name=".Views.Activities.TermConditionActivity" android:screenOrientation="portrait" />
    </application>

</manifest>